# Environment variables
.env
*.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
venv310/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Custom files to ignore

lesson-2-implementing-structured-outputs-with-pydantic/demo/main_archive.py

